.spinner{
    width:56px;
    height:56px;
    border:11.2px #474bff double;
    border-left-style: solid;
    border-radius: 50%;
    animation: spinner-circle 0.75s infinite linear;
}

@keyframes spinner-circle {
    to{
        transform: rotate(360deg);
    }
}